
groq==0.11.0
openai==1.52.2
streamlit==1.39.0
langchain==0.3.5
langchain-community==0.3.3
langchain-core==0.3.13
langchain-text-splitters==0.3.1
langsmith==0.1.137
mutagen==1.47.0
pydub==0.25.1
XlsxWriter==3.2.0
nltk==3.9.1
openpyxl==3.1.5
python-dotenv==1.0.1
